<div class="container">
    <div class="p-5 table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Email</th>
                    <th scope="col">Gusto musical</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" class="text-center">
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.gusto_musical}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>